{
  "env": {
    "browser": 2,
    "node": 2,
    "mocha": 2
  },
  "globals": {
    "_": 2,
    "$": 2,
    "angular": 2,
    "jQuery": 2,
    "WS_SERVER": 2,
    "HOME_URL": 2,
    "ActiveXObject": 2
  },
  "rules": {
    "func-names": 0,
    "vars-on-top": 0,
    "no-var": 0,
    "prefer-arrow-callback": 0,
    "newline-after-var": 0,
    "max-params": 0,
    "max-statements": 0,
    "id-length": 0,
    "prefer-template": 0,
    "no-magic-numbers": 0,
    "callback-return": 0,
    "camelcase": 0,
    "no-alert": 0,
    "object-shorthand": 0,
    "no-useless-call": 0,
    "lines-around-comment": 0,
    "new-cap": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "no-prototype-builtins": 0,
    "max-lines":0
  },
  "extends": "./node_modules/eslint-config-valorsoft/.eslintrc.json"
}
