//styles for the content section (where currencies are displayed)
@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'

.column
  padding 0

.column.main
  box-sizing(border-box)
  width 100%
  height 90%
  background white

  +for_breakpoint(small)
    height 450px

  +for_breakpoint(small-landscape)
    height 250px

.card
  background white
  border-radius (2px)
  box-shadow rgba(0, 0, 0, 0.02) 0px 2px 1px 2px
  padding 20px
  margin 0px auto 10px auto
  max-width 250px
  +for_breakpoint(small)
  //animate down
    for i in 0..9
      &:nth-child(i)
        opacity 0
        //fadeInDown(0.5s, i / 4 * 1s)
        animation: fadeInDown 0.5s i / 4 * 1s forwards

  @keyframes fadeInDown
    0%
      opacity 0
      transform scale(.5)
    50%
      opacity 1
    100%
      opacity 1
      transform scale(1)


.btn
  box-sizing(border-box)
  background $color-grey
  border 0px
  border-radius (2px)
  box-shadow rgba(0, 0, 0, 0.02) 0px 2px 1px 2px
  padding 8px 10px
  margin 0px 3px 7px 3px
  color white
  text-transform uppercase
  font-size 12px
  font-family 'Lato', Arial, sans-serif

  &:hover
    cursor pointer
    background darken($color-grey, 10%)

  &.primary
    background $color-primary
    &:hover
      background darken($color-primary, 10%)

  &.block
    width 100%
    display block

/* wrap-report-problem */
.wrap-report-problem
  display inline-block
  width 100%
  text-align center
  .report-problem
    padding 0 20px
    float right
    color #777
    &.indent
      margin-right 30px
      
    +for_breakpoint(small)
      float none
      display inline-block

/* wrap-social */
.wrap-social
  display inline-block
  width 100%
  text-align center

.social-list
  list-style none
  margin 9px 200px 0 0
  padding 0
  float right
  +for_breakpoint(medium)
    margin-right 175px

  &.mobile
    display none
    margin 5px

  +for_breakpoint(small)
    &.desktop
      display none

    &.mobile
      float none
      display inline-block

  li
    float left
    margin-left 8px
    a
      color $color-primary
      font-size 25px

  .ico-plane
    background $color-primary
    border none
    color #fff
    font-size 12px
    padding 4px 5px 3px
    margin 5px 0
    border-radius (4px)
    cursor pointer
    outline none
    path
      fill white



