@import 'fonts.styl'

@import 'variables.styl'
@import 'mixins.styl'
@import 'common.styl'

html, body
  height 100%
  overflow hidden

body
  //@include position(absolute, 0 0 0 0)
  background-color white
  font-family 'Bariol Regular', Arial, sans-serif
  min-width $body-min-width
  padding 0
  margin 0
  direction ltr


.wrapper
  display block
  height 100%
  overflow auto
  -webkit-overflow-scrolling touch

  +for_breakpoint(small)
    min-height auto



.wrapper-error
  padding 50px
  text-align center
  .header-title
    display block
    float none
    margin 0 auto


.hidden
  display none !important


.invisible
  visibility hidden


@import 'header.styl'
@import 'menu.styl'
@import 'loader.styl'
@import 'content.styl'
@import 'more.styl'
@import 'vizabi.styl'
@import 'language.styl'
